@import "@/assets/scss/variables";

@keyframes img_animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 1.1;
  }
}

section {
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 32px;
    font-weight: 600;
    color: #0C92BF;
    padding-top: clamp(5.375rem, -7.875rem + 16.563vw, 12rem);
    padding-left: clamp(2.5rem, -2.5rem + 6.25vw, 5rem);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  animation: img_animation 7s infinite linear;
}

.content {
  position: relative;
  padding: 0 clamp(2.5rem, -2.5rem + 6.25vw, 5rem);
  padding-bottom: clamp(2.5rem, -2rem + 5.625vw, 4.75rem);
  display: flex;
  flex-direction: column;
  gap: clamp(9.125rem, 4.875rem + 5.313vw, 11.25rem);

  article {
    width: 676px;

    h2 {
      display: block;
      margin-top: 20px;
      font-size: 32px;
      font-weight: 400;
    }
  }
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.request-button {
  height: 54px;
  padding: 15px 40px;
  background-color: #0C92BF;
  border: none;
  border-radius: 6px;
  text-align: center;

  span {
    color: #fff;
    font-size: 16px;
    font-weight: $--bold;
    white-space: nowrap;
  }
}

.details-button {
  height: 54px;
  padding: 15px 40px;
  background-color: transparent;
  border-width: 1px;
  border-radius: 6px;

  span {
    color: #363843;
    font-size: 16px;
    font-weight: $--bold;
    white-space: nowrap;
  }
}

.tags-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tags-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    display: block;
    width: fit-content;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #3D4A900D;
    white-space: nowrap;
  }

  div {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .content {
    gap: clamp(1.563rem, -20.759rem + 35.714vw, 7.813rem);
  }
}

@media screen and (max-width: 1000px) {
  section {
    display: flex;
    flex-direction: column;
  }

  .content {

    article {
      width: 100%;
    }
  }

  .tags-section {

    span {
      font-size: 14px;
    }
  }

  .tags-container {
    flex-direction: row;
  }

  .overlay-container {
    position: relative;

    h1 {
      width: clamp(15.625rem, 12.045rem + 15.909vw, 20rem);
      margin: clamp(1.25rem, 0.227rem + 4.545vw, 2.5rem);
      padding: 0 0 clamp(5.313rem, -1.191rem + 28.906vw, 16.875rem) 0;
      font-size: clamp(1.625rem, 1.318rem + 1.364vw, 2rem);
    }
  }
}


@media screen and (max-width: 800px) {
  .buttons-container {
    flex-direction: column;
  }

  .tags-container {
    flex-direction: column;

    span {
      padding: 10px 14px;
    }
  }

  .content {
    padding: 0 clamp(1.25rem, 0.227rem + 4.545vw, 2.5rem);
    padding-bottom: 40px;
  }
}