p,
li,
span {
  font-size: 16px;
  font-weight: 400;
}

.text-bold {
  font-size: 16px;
  font-weight: 600;
}

.title-middle-regular {
  font-size: 24px;
  font-weight: 600;
}

.title-big-regular {
  font-size: 32px;
  font-weight: 400;
}

ul {
  padding-left: 20px;
}

.flex_block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ul_class {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 0.625rem + 1.563vw, 2.5rem);
  padding: 0 clamp(8.813rem, -2.563rem + 14.219vw, 14.5rem);
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.details-highlights {
  border-radius: 10px;
  background: linear-gradient(197deg, #EBF4FD 17.48%, #F4F7FA 91.11%);
  padding: 40px 30px;
}

.solution-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.solution-content {
  display: flex;
  gap: 10px;

  span {
    display: flex;
    align-items: center;
    padding: 16px 30px;
    border-radius: 10px;
    gap: 10px;
    background-color: #3D4A900D;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, clamp(12rem, 0.375rem + 14.531vw, 17.813rem));
  grid-template-rows: repeat(4, clamp(12rem, 0.375rem + 14.531vw, 17.813rem));
  gap: 10px;
}

.gallery-mobile {
  display: none;
}

.image-container {
  position: relative;
  border-radius: 10px;
  border: 1px solid #DDDDDD;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
    display: flex;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-image: url("@/assets/media_content/Search.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.2s;
  }

  &::after {
    content: "";
    inset: 0;
    position: absolute;
    opacity: 0;
    background-color: #363843;
    transition: opacity 0.2s;
    border-radius: 10px;
  }
}

.image-container:hover {
  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 0.2;
  }
}

.gallery-item {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.description-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.specifications-list {
  position: relative;
  max-height: 365px;
  overflow-y: hidden;
  transition: all 0.5s ease-out;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(transparent 60%, #fff);
  }
}

.list_active {
  max-height: 700px;

  &::after {
    display: none;
  }
}

.more-text {
  height: 24px;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0C92BF;
  margin-top: 30px;
  margin-bottom: 55px;

  svg {
    height: 24px;
  }
}

.more-description {
  display: none;
}

.svg_active {
  transform: rotate(180deg);
}

@media screen and (max-width: 1280px) {
  section {
    padding: 0 clamp(2.688rem, -7.521rem + 20.417vw, 8.813rem);
  }

  .content{
    flex-direction: column;
  }

  .gallery {
    grid-template-columns: repeat(4, clamp(10.813rem, 8.833rem + 3.958vw, 12rem));
    grid-template-rows: repeat(2, clamp(10.813rem, 8.833rem + 3.958vw, 12rem));
  }
}

@media screen and (max-width: 799px) {
  section {
    padding: 0 clamp(1.25rem, 0.227rem + 4.545vw, 2.5rem);
  }

  .solution-content {
    flex-direction: column;
  }

  .gallery {
    display: none;
  }

  .image-container:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 0;
    }
  }

  .image-container:active {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0.2;
    }
  }

  .gallery-mobile {
    display: block;
    position: relative;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: repeat(10, 265px);
    grid-template-rows: 269px;
    gap: 10px;
    overflow-x: hidden;
    padding-left: 20px;
  }

  #prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: -3%;
    z-index: 2;
    display: flex;
    border-radius: 50%;
    border: 1px solid #363843;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-image: url("@/assets/media_content/Down.svg");
    transform: rotate(90deg);
    background-position: center;
    background-repeat: no-repeat;
  }

  #next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 83%;
    z-index: 2;
    display: flex;
    border-radius: 50%;
    border: 1px solid #363843;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-image: url("@/assets/media_content/Down.svg");
    transform: rotate(-90deg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .description-text {
    position: relative;
    max-height: 195px;
    overflow-y: hidden;
    transition: all 0.5s ease-out;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(transparent 60%, #fff);
    }
  }

  .more-description {
    display: flex;
    margin-bottom: 20px;
  }

  .description_list_active {
    max-height: 1100px;

    &::after {
      display: none;
    }
  }

  .list_active {
    max-height: 1100px;

    &::after {
      display: none;
    }
  }
}
