section {
  height: 840px;
  display: flex;
  justify-content: space-between;
  margin: 0 clamp(2.5rem, -2.5rem + 6.25vw, 5rem);
  padding: 64px clamp(6.313rem, 0.438rem + 7.344vw, 9.25rem);
  gap: 10px;
  border-radius: 10px;
  background-color: #E6F1F7;
  background-image: url("@/assets/media_content/Advantages_bg.png");
  background-size: cover;
  background-position: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2, span {
    display: inline-block;
    width: 337px;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
  }

  span {
    font-size: 16px;
    font-weight: 400;
  }
}

.dropdown-container {
  width: 874px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    display: block;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.dropdown-content {
  display: flex;
  gap: 10px;
}

.dropdown-text {
  max-width: 740px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.arrow_icon_active {
  rotate: 180deg;
}

.dropdown_svg_active {

  svg {
    fill: #0C92BF;
    stroke: #0C92BF;
  }
}

.dropdown_text_active {

  span {
    color: #0C92BF;
  }
}

@media screen and (max-width: 1280px) {
  section {
    padding: clamp(2.5rem, 0rem + 5vw, 4rem) clamp(3.75rem, -0.417rem + 8.333vw, 6.25rem);
  }
}

@media screen and (max-width: 1025px) {
  section {
    flex-direction: column;
    justify-content: start;
    gap: 34px;
  }

  .dropdown-container {
    width: 100%;
  }

  .arrow-icon {
    width: 35px;
  }
}

@media screen and (max-width: 800px) {
  section {
    height: clamp(62.5rem, 70.682rem + -36.364vw, 52.5rem);
    margin: 0 clamp(0rem, -2.045rem + 9.091vw, 2.5rem);
    padding: 40px clamp(1.25rem, 0.227rem + 4.545vw, 2.5rem);
  }

  .dropdown-text {
    width: 100%;
  }
}