.questions-title {
  cursor: pointer;
  font-size: clamp(1rem, 0.667rem + 0.667vw, 1.125rem);
  font-weight: 600;
}

.text-title {
  font-size: clamp(1rem, 0.667rem + 0.667vw, 1.125rem);
  font-weight: 700;
}

.text-regular {
  font-size: 16px;
  font-weight: 400;
}

section {
  display: flex;
  justify-content: space-between;
  margin: 0 clamp(2.5rem, -2.5rem + 6.25vw, 5rem);
  padding: 64px clamp(6.313rem, 0.438rem + 7.344vw, 9.25rem);
  gap: 40px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2, span {
    display: inline-block;
    width: 337px;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
  }

  span {
    font-size: 16px;
    font-weight: 400;
  }
}

.dropdown-block {
  cursor: pointer;
  width: clamp(37.063rem, 1.938rem + 43.906vw, 54.625rem);
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #DDDDDD;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 1280px) {
  section {
    padding: clamp(2.5rem, 0rem + 5vw, 4rem) clamp(3.75rem, -0.417rem + 8.333vw, 6.25rem);
  }
}

@media screen and (max-width: 1110px) {
  section {
    flex-direction: column;
    justify-content: start;
    gap: 34px;
  }

  .dropdown-container {
    width: 100%;
  }

  .dropdown-block {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  section {
    margin: 0 clamp(0rem, -2.045rem + 9.091vw, 2.5rem);
    padding: 40px clamp(1.25rem, 0.227rem + 4.545vw, 2.5rem);
  }

  .questions-title {
    max-width: clamp(13.25rem, -8.083rem + 42.667vw, 21.25rem);
  }

  .dropdown-text {
    width: 100%;
  }
}