@import "@/assets/scss/variables";

header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15.5px clamp(2.5rem, -2.5rem + 6.25vw, 5rem);

  button {

    span {
      font-family: LibreFranclin, serif;
      line-height: 17px;
      font-size: 16px;
    }

    &:hover {

      span {
        color: #0C92BF;
      }
    }

    &:active {

      span {
        color: #0C92BF;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;

  div {
    display: flex;
  }

  button {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 20px;
    border: none;
    background: none;
  }
}

.navLink_long {
  text-decoration: none;
}

.navLink {
  text-decoration: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;

  svg {
    transition: all .2s;
  }
}

.down_arrow_active {
  transition: all .3s;
  transform: rotate(180deg);
}

.logo{
  display: flex;
  align-items: center;
  gap: 30px;

  span {
    width: 186px;
    font-size: 14px;
  }
}

.login-button {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 20px;
  border: none;
  background: transparent;
}

.burger-menu {

  button {
    width: 100%;
    height: 64px;
    background: none;
    border: 1px solid #DDDDDD;
  }
}

.dropdown-block {
  width: 100%;
  background-color: transparent;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

#body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navLink {
  width: 100%;
  text-decoration: none;

  button {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 20px 40px;
    border: none;
    background: transparent;

    &:active {
      background: #F1F1F2;

      span {
        color: #0C92BF;
      }
    }
  }

}

.contact-button,
.login-button_burger {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 40px;
  border: none;
  background: transparent;

  &:active {
    background: #F1F1F2;

    span {
      color: #0C92BF;
    }
  }
}

@media screen and (max-width: 1025px) {
  .nav,
  .login-button {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: clamp(1.25rem, 1.48rem + -1.023vw, 0.969rem) clamp(1.25rem, 0.227rem + 4.545vw, 2.5rem);
  }
  .logo{
    height: clamp(2.5rem, 1.989rem + 2.273vw, 3.125rem);
    gap: clamp(1.25rem, 0.739rem + 2.273vw, 1.875rem);

    span {
      width: clamp(10rem, 8.67rem + 5.909vw, 11.625rem);
      font-size: clamp(0.75rem, 0.648rem + 0.455vw, 0.875rem);
    }
  }
  .logo-svg {
    display: inline-block;
    max-height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .burger-button {
    height: 24px;
    padding: 0;

    span {
      display: none;
      visibility: hidden;
    }
  }
}
