section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 clamp(2.5rem, -2.5rem + 6.25vw, 5rem);
  padding: 65px clamp(6.25rem, 0.625rem + 7.031vw, 9.063rem);
  background-color: #F1F1F2;
  border-radius: 10px;

  span, .option-title {
    font-size: 14px;
    font-weight: 600;
  }
}

.option-title {
  font-size: 24px;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template: repeat(6, 100px) / repeat(13, clamp(5.188rem, -0.573rem + 5.946vw, 6.563rem));
  grid-template-areas:
    "img1 img1 img1 img2 img3 img3 img3 img6 img6 img8 img8 img9 img9"
    "img1 img1 img1 img2 img3 img3 img3 img6 img6 img8 img8 img9 img9"
    "img1 img1 img1 img2 img4 img4 img4 img6 img6 img8 img8 img9 img9"
    "img1 img1 img1 img2 img4 img4 img4 img7 img7 img10 img10 img10 img10"
    "img1 img1 img1 img2 img5 img5 img5 img7 img7 img10 img10 img10 img10"
    "img1 img1 img1 img2 img5 img5 img5 img7 img7 img10 img10 img10 img10";
}

.grid-item_ {
  &0 {
    grid-area: img1;

    img {
      width: clamp(12.813rem, 6.267rem + 6.757vw, 14.375rem);
    }
  }
  &1 {
    grid-area: img2;

    img {
      width: 65px;
      height: clamp(25rem, 1.436rem + 24.324vw, 30.625rem);
    }
  }
  &2 {
    grid-area: img3;
  }
  &3 {
    grid-area: img4;
  }
  &4 {
    grid-area: img5;
  }
  &5 {
    grid-area: img6;
  }
  &6 {
    grid-area: img7;
  }
  &7 {
    grid-area: img8;
  }
  &8 {
    grid-area: img9;
  }
  &9 {
    grid-area: img10;
  }
}

.article-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:20px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.article-img {
  display: block;
  width: 100%;
}

.option-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0 0 20px;
}

.option-img {
  width: 185px;
  height: 220px;
  background-image: url("@/assets/media_content/CompleteImg2/Case.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #363843;
  border-radius: 10px;
}

@media screen and (max-width: 1550px) {
  section {
    margin: 0 clamp(0rem, -4.167rem + 8.333vw, 2.5rem);
    padding: clamp(2.188rem, -0.938rem + 6.25vw, 4.063rem) clamp(2.5rem, -3.75rem + 12.5vw, 6.25rem);
  }

  .grid {
    grid-template: repeat(8, clamp(8.75rem, 1.343rem + 9.259vw, 10.313rem)) / repeat(7, clamp(8.438rem, -2.525rem + 13.704vw, 10.75rem));
    grid-template-areas:
    "img1 img1 img1 img2 img3 img3 img3"
    "img1 img1 img1 img2 img3 img3 img3"
    "img1 img1 img1 img2 img4 img4 img4"
    "img1 img1 img1 img2 img4 img4 img4"
    "img1 img1 img1 img2 img5 img5 img5"
    "img1 img1 img1 img2 img5 img5 img5"
    "img6 img7 img7 img8 img9 img10 img10"
    "img6 img7 img7 img8 img9 img10 img10";
  }

  .grid-item_ {

    &0 {
      img {
        width: 345px;
      }
    }
    &1 {
      img {
        width: 115px;
        height: 760px;
      }
    }
    &6 {
      img {
        width: 195px;
        height: 210px;
      }
    }
  }

  .option-img {
    width: clamp(9.875rem, 1.875rem + 10vw, 11.563rem);
    height: clamp(11.875rem, 2.986rem + 11.111vw, 13.75rem);
  }
}

@media screen and (max-width: 1278px) {
  .grid {
    grid-template: repeat(8, clamp(6.25rem, 2.083rem + 8.333vw, 8.75rem)) / repeat(7, clamp(5.938rem, 1.771rem + 8.333vw, 8.438rem));
    grid-template-areas:
    "img1 img1 img1 img2 img3 img3 img3"
    "img1 img1 img1 img2 img3 img3 img3"
    "img1 img1 img1 img2 img4 img4 img4"
    "img1 img1 img1 img2 img4 img4 img4"
    "img1 img1 img1 img2 img5 img5 img5"
    "img1 img1 img1 img2 img5 img5 img5"
    "img6 img7 img7 img8 img9 img10 img10"
    "img6 img7 img7 img8 img9 img10 img10";
  }

  .grid-item_ {

    &0 {
      img {
        width: clamp(14.063rem, 1.563rem + 25vw, 21.563rem);
      }
    }
    &1 {
      img {
        width: clamp(4.375rem, 1.25rem + 6.25vw, 6.25rem);
        height: clamp(28.75rem, -2.5rem + 62.5vw, 47.5rem);
      }
    }
    &6 {
      img {
        width: clamp(8.438rem, 2.188rem + 12.5vw, 12.188rem);
      }
    }
  }

  .option-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: clamp(0rem, -3.125rem + 6.25vw, 1.875rem) 0 0 clamp(0rem, -2.083rem + 4.167vw, 1.25rem);
  }

  .option-img {
    width: clamp(7.188rem, 3.021rem + 8.333vw, 9.688rem);
    height: clamp(8.75rem, 3.75rem + 10vw, 11.75rem);
  }

  .option-title {
    font-size: clamp(1.25rem, 1.045rem + 0.909vw, 1.5rem);
  }
}

@media screen and (max-width: 798px) {
  section {
    padding: 30px clamp(1.25rem, 0.227rem + 4.545vw, 2.5rem);

    span {
      font-size: clamp(1rem, 0.693rem + 1.364vw, 1.375rem);
    }
  }

  .grid {
    grid-template: repeat(15, clamp(9.375rem, 5.54rem + 17.045vw, 14.063rem)) / repeat(4, clamp(4.625rem, -0.386rem + 22.273vw, 10.75rem));
    grid-template-areas:
    "img1 img1 img1 img2"
    "img1 img1 img1 img2"
    "img1 img1 img1 img2"
    "img3 img3 img3 img3"
    "img3 img3 img3 img3"
    "img4 img4 img4 img4"
    "img4 img4 img4 img4"
    "img5 img5 img5 img5"
    "img5 img5 img5 img5"
    "img6 img6 img7 img7"
    "img6 img6 img7 img7"
    "img8 img8 img9 img9"
    "img8 img8 img9 img9"
    "img10 img10 img10 img10"
    "img10 img10 img10 img10";
  }

  .grid-item_ {

    &0 {
      img {
        width: clamp(11.563rem, 6.96rem + 20.455vw, 17.188rem);
      }
    }
    &1 {
      img {
        width: clamp(3.75rem, 2.983rem + 3.409vw, 4.688rem);
        height: 460px;
      }
    }
    &6 {
      img {
        width: clamp(9.063rem, 5.994rem + 13.636vw, 12.813rem);
      }
    }
  }

  .option-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: clamp(0rem, -3.125rem + 6.25vw, 1.875rem) 0 0 clamp(0rem, -2.083rem + 4.167vw, 1.25rem);
  }

  .option-img {
    width: clamp(12.813rem, 7.443rem + 23.864vw, 19.375rem);
    height: clamp(15.313rem, 8.665rem + 29.545vw, 23.438rem);
  }

  .option-title {
    font-size: clamp(1.25rem, 1.045rem + 0.909vw, 1.5rem);
  }
}
