@font-face {
  font-family: 'Manrope';
  src: url(@/assets/media_content/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'LibreFranclin';
  src: url(@/assets/media_content/LibreFranklin-VariableFont_wght.ttf);
}