@forward "fonts";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
span,
a {
  font-weight: $--regular;
  font-family: 'Manrope', serif;
  color: $--text-color;
}

#app {
  font-weight: $--regular;
  font-family: 'Manrope', serif;
  width: 100%;
  min-width: 360px;
}